body {
  margin: 0;
  padding: 0;
}

.padding20 {
  padding: 20px;
}

.heading {
  all: unset;
  font-size: 24px;
  font-weight: 600;
}

.textsmall{
    font-size: 14px;
    font-weight: 400;
    color: #c4c4c4;
}